
<div class="items-container">
    <div class="items-header">
        <div class="items-header-title">
            <h2 class="mat-primary-color">Customers</h2>
        </div>
        <div class="items-header-action">
            <button mat-flat-button color="primary" (click)="openAddingCustomerForm()">
                <mat-icon>add</mat-icon>
                Add Item
            </button>
        </div>
    </div>

    <div class="items">
        <app-costumers></app-costumers>
    </div>
</div>